# maimaidx
MAIMAIDX_PATH=
MAIMAIDX_ALIAS_PROXY=false
SAVE_IN_MEMORY=true
ASSETS_ONLINE=true
BOT_NAME=maimai
DEFAULT_QQ=
DEFAULT_USERNAME=
OUTPUT_DIR=

# diving-fish
DIVINGFISH_TOKEN=
DIVINGFISH_PROBER_PROXY=false

# lxns
LXNS_DEV_TOKEN=
LX_CLIENT_ID=
LX_CLIENT_SECRET=
REDIRECT_URI=
